.meeting-card-wrapper {
  overflow-y: scroll;
  grid-template-rows: repeat(2, 1fr);
}

.attendance-history {
  padding: 1em;
  display: flex;
}

@media (min-width: 768px) {
  .meeting-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    max-height: 45vh;
  }
}

@media (max-width: 768px) {
  .meeting-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    max-height: 40vh;
  }
}
